body {
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    margin: 0;
}

.container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 18vw;
    background-color: #dddddd;
    display: none;
    flex-shrink: 0;
    flex-direction: column;
    padding: 10px;
}

.sidebar-toggle {
    display: flex;
    padding-left: 10px;
}

.sidebar-toggle button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;

}

.sidebar-title {
    display: flex;
}

.sidebar-title h1 {
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
}

.no-sidebar {
    flex-grow: 1;
    background-color: #f0f0f0;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#header {
    display: flex;
}

#header h1 {
    flex-grow: 1;
    text-align: center;
}


h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 3.5vw;
    margin: 1%;
}

/*scatter plot and bar plot style*/
#choosing-players {
    width: 100%;
    display: flex;
}

#scatter-plot {
    width: 100%;
    height: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scatter-plot-interaction {
    width: 80%;
    display: flex;
    margin: 10px;
}

.search-bar {
    display: flex;
    align-items: center;
}

.axis-interaction {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    /* padding-right: 12.5%; */
}

.axis-interaction .flex-item p {
    font-size: 1.1vw;
    font-weight: bold;
}

.axis-interaction .flex-item select {
    color: #36454F;
    background-color: #f0f0f0;
    border: 1px solid;
    padding: 0.2em 0.2em 0.2em;
    width: 6.5vw;
}

.data-interaction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.interaction-title h2 {
    font-size: 1.3rem;
    font-weight: bold;
    margin: 7px;
}

.tooltip {
    position: absolute;
    pointer-events: none;
}

/* bar plot style*/
#barPlot {
    display: flex;
    width: 80%;
    height: 45vw;
    flex-direction: column;
}

.bar-plot-interactions {
    display: flex;
}

.bar-plot-interactions button {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    font-weight: bold;
    font-size: 1vw;
}

#player-analysis {
    width: 100%;
    display: flex;
    justify-content: center;
}

#player-vis {
    width: 0%;
    height: 40vw;
}

.axisBarPlot path,
.axisBarPlot line {
    fill: none;
    display: none;
}

/*******************/

.flex-item {
    display: flex;
    margin: 5px;
}

.flex-item p {
    margin: 0;
}

.svg-style {
    display: flex;
}

.my-dropdown-toggle::after {
    content: none;
}